.email-input, .password-input:hover{
    color: blue;
    font-size: 20px;
}

.email-input, .password-input:focus{
    font-size: 20px;
    font-weight: 700;
    color: red;

}

.list li:first-child, .list li:last-child{
    background-color: red;
}